trying out https://www.youtube.com/watch?v=OB_ixIlQbWI&list=LLNzsZNOL8ahph4IIYK2c9Pg&index=4&t=0s 
or Map two excel worksheets using Python - Five Minute Python Automation Scripts Derrick Sherrill

In [1]:
import pandas as pd

Assign a variable name to your excel file. Open Document Spreadsheets can't be opened.

In [2]:
excel1 = 'worksheet1.xlsx'

In [3]:
print(excel1)

worksheet1.xlsx

#rows1 = rows(excel1)

 #help(pd.Series.loc)

In [4]:
excel2 = 'worksheet2.xlsx'

In [5]:
excel2

'worksheet2.xlsx'

In [6]:
excel3 = 'worksheetodf.xlsx'
print(excel3)

worksheetodf.xlsx

In [7]:
pip install xlrd

Requirement already satisfied: xlrd in c:\users\sr\anaconda3\lib\site-packages (1.2.0)
Note: you may need to restart the kernel to use updated packages.

In [8]:
df1 = pd.read_excel(excel1)

In [9]:
print(df1)

         Date                Fund Name     No.    Units  Invested
0  2020-04-01            T 100 truncat   166.0   2.0000     500.0
1  2020-04-01          Gold  Truncated   166.0      NaN     500.0
2  2020-04-01           N 50 Truncated   166.0      NaN    1000.0
3  2020-04-01                   H N 50  1668.0      NaN    1500.0
4  2020-04-01            H Gold growth  1668.0  14.5209     501.0
5  2020-04-01            H Credit Risk  1668.0      NaN    1500.0
6  2020-04-01       H Top 100 dividend  1668.0  29.9880     500.0
7  2020-04-01               BN Index M  9101.0      NaN     500.0
8  2020-04-01             NASDAQ 100 M  9101.0   0.0000     501.0
9  2020-04-01           Mid Cap 150 Mo  9101.0      NaN     502.0
10 2020-04-01             Healthcare D    70.0      NaN     500.0
11 2020-04-01                D Equity     70.0      NaN     501.0
12 2020-04-01     Banking & PSU Debt D    70.0      NaN     502.0
13 2020-04-01                 Fr US op    22.0      NaN     501.0
14 2020-04-01         S focused equity    23.0      NaN     500.0
15 2020-04-01  S banking and financial    23.0      NaN       NaN
16 2020-04-01                   S Gold    23.0      NaN       NaN
17 2020-04-01        Large and mid cap     NaN      NaN     500.0
18 2020-04-01              multi asset     NaN      NaN     500.0
19 2020-04-01                small cap     NaN      NaN       NaN
20 2020-04-01                  mid cap     NaN      NaN       NaN

In [10]:
df2 = pd.read_excel(excel2)
print(df2)

         Date  Current value     NAV  Initial Investment    Value
0  2020-04-01          348.0   1.000               348.0   401.76
1  2020-04-01          475.0     NaN               475.0   476.00
2  2020-04-01         1911.0     NaN              1911.0  1411.00
3  2020-04-01         1911.0     NaN              1911.0  1411.00
4  2020-04-01          501.0  34.545               501.0   501.00
5  2020-04-01         1911.0     NaN              1911.0  1411.00
6  2020-04-01          510.0  16.673               510.0   510.00
7  2020-04-02          500.0     NaN               500.0   501.00
8  2020-04-02          501.0  45.562                 NaN   502.00
9  2020-04-02          510.0  67.350                 NaN   511.00
10 2020-04-01          458.0     NaN               458.0   459.00
11 2020-04-01          459.0     NaN               459.0   460.00
12 2020-04-01          499.0     NaN               499.0   500.00
13 2020-04-01          459.0     NaN               459.0   460.00
14 2020-04-01            NaN     NaN                 0.0     1.00
15 2020-04-01            0.0     NaN                 0.0     1.00
16 2020-04-01            0.0     NaN                 0.0     1.00
17 2020-04-01            0.0     NaN                 NaN     0.00
18 2020-04-01            0.0     NaN                 NaN     0.00
19 2020-04-01            0.0     NaN                 NaN     0.00
20 2020-04-01            0.0     NaN                 NaN     0.00

In [11]:
dforiginal = pd.read_excel(excel3)
print(dforiginal)

         Date  Unnamed: 1   Units  Unnamed: 3  Unnamed: 4  \
0  2020-04-01       348.0   1.000       348.0      -98.24
1  2020-04-01       475.0     NaN       475.0      -24.00
2  2020-04-01      1911.0     NaN      1911.0      411.00
3  2020-04-01      1911.0     NaN      1911.0      -89.00
4  2020-04-01       501.0  34.545       501.0        0.00
5  2020-04-01      1911.0     NaN      1911.0      -89.00
6  2020-04-01       510.0  16.673       510.0       10.00
7  2020-04-03       500.0     NaN       500.0        1.00
8  2020-04-03       501.0  45.562         NaN        1.00
9  2020-04-03       510.0  67.350         NaN        9.00
10 2020-03-17       458.0     NaN       458.0      -41.00
11 2020-03-17       459.0     NaN       459.0      -41.00
12 2020-03-17       499.0     NaN       499.0       -2.00
13 2020-03-17       459.0     NaN       459.0      -41.00
14 2020-03-21         NaN     NaN         0.0     -499.00
15 2020-04-04         0.0     NaN         0.0        1.00
16 2020-04-07         0.0     NaN         0.0        1.00
17 2020-02-28         0.0     NaN         NaN        0.00
18 2020-02-28         0.0     NaN         NaN        0.00
19 2020-02-28         0.0     NaN         NaN        0.00
20 2020-02-28         0.0     NaN         NaN        0.00

                  Fund Name     No. Unnamed: 7      NAV  Unnamed: 9 NAV*Units  \
0             T 100 truncat   166.0 2020-02-28   2.0000       500.0         2
1           Gold  Truncated   166.0 2020-03-13      NaN       500.0         0
2            N 50 Truncated   166.0 2020-03-16      NaN      1000.0         0
3                    H N 50  1668.0 2020-03-16      NaN      1500.0         0
4             H Gold growth  1668.0 2020-04-01  14.5209       501.0   501.624
5             H Credit Risk  1668.0 2020-03-30      NaN      1500.0         0
6        H Top 100 dividend  1668.0 2020-03-31  29.9880       500.0    499.99
7                BN Index M  9101.0 2020-03-18      NaN       500.0         0
8              NASDAQ 100 M  9101.0 2020-03-23   0.0000       501.0         0
9            Mid Cap 150 Mo  9101.0 2020-03-23      NaN       502.0         0
10             Healthcare D    70.0 2020-03-10      NaN       500.0         0
11                D Equity     70.0 2020-03-13      NaN       501.0         0
12     Banking & PSU Debt D    70.0 2020-03-13      NaN       502.0         0
13                 Fr US op    22.0 2020-03-13      NaN       501.0  00:00:00
14         S focused equity    23.0 2020-03-21      NaN       500.0         0
15  S banking and financial    23.0 2020-04-04      NaN         NaN         0
16                   S Gold    23.0 2020-04-07      NaN         NaN         0
17        Large and mid cap     NaN 2020-02-28      NaN       500.0       NaN
18              multi asset     NaN 2020-02-28      NaN       500.0       NaN
19                small cap     NaN 2020-02-28      NaN         NaN       NaN
20                  mid cap     NaN 2020-02-28      NaN         NaN       NaN

    Unnamed: 11 Nominee  Unnamed: 13  Unnamed: 14
0           NaN    Mini          500        348.0
1           NaN    Mini          500        475.0
2           NaN    Mini         1000       1911.0
3           NaN    Mini         1500       1911.0
4           NaN    Mini          501        501.0
5           NaN    Mini         1500       1911.0
6           NaN    Mini          500        510.0
7           NaN    Mini          500        500.0
8           NaN    Mini          501          0.0
9           NaN    Mini          502          0.0
10          NaN    Mini          500        458.0
11          NaN    Mini          501        459.0
12          NaN    Mini          502        499.0
13          NaN    Mini          501        459.0
14          NaN    Mini          500          0.0
15          NaN    Mini            0          0.0
16          NaN    Mini            0          0.0
17          NaN     NaN            0          NaN
18          NaN     NaN            0          NaN
19          NaN     NaN            0          NaN
20          NaN     NaN            0          NaN

In [12]:
merge = pd.merge(df1,df2,on = "Date")
print(merge)

          Date      Fund Name    No.  Units  Invested  Current value     NAV  \
0   2020-04-01  T 100 truncat  166.0    2.0     500.0          348.0   1.000
1   2020-04-01  T 100 truncat  166.0    2.0     500.0          475.0     NaN
2   2020-04-01  T 100 truncat  166.0    2.0     500.0         1911.0     NaN
3   2020-04-01  T 100 truncat  166.0    2.0     500.0         1911.0     NaN
4   2020-04-01  T 100 truncat  166.0    2.0     500.0          501.0  34.545
..         ...            ...    ...    ...       ...            ...     ...
373 2020-04-01        mid cap    NaN    NaN       NaN            0.0     NaN
374 2020-04-01        mid cap    NaN    NaN       NaN            0.0     NaN
375 2020-04-01        mid cap    NaN    NaN       NaN            0.0     NaN
376 2020-04-01        mid cap    NaN    NaN       NaN            0.0     NaN
377 2020-04-01        mid cap    NaN    NaN       NaN            0.0     NaN

     Initial Investment    Value
0                 348.0   401.76
1                 475.0   476.00
2                1911.0  1411.00
3                1911.0  1411.00
4                 501.0   501.00
..                  ...      ...
373                 0.0     1.00
374                 NaN     0.00
375                 NaN     0.00
376                 NaN     0.00
377                 NaN     0.00

[378 rows x 9 columns]

In [18]:
merge.to_excel("output.xlsx")
output_sheet = "output.xlsx"
print(output_sheet)

output.xlsx

In [15]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\sr\anaconda3\lib\site-packages (3.0.3)
Requirement already satisfied: et-xmlfile in c:\users\sr\anaconda3\lib\site-packages (from openpyxl) (1.0.1)
Requirement already satisfied: jdcal in c:\users\sr\anaconda3\lib\site-packages (from openpyxl) (1.4.1)
Note: you may need to restart the kernel to use updated packages.

In [21]:
dfoutput = pd.read_excel(output_sheet)
print(dfoutput)

     Unnamed: 0       Date      Fund Name    No.  Units  Invested  \
0             0 2020-04-01  T 100 truncat  166.0    2.0     500.0
1             1 2020-04-01  T 100 truncat  166.0    2.0     500.0
2             2 2020-04-01  T 100 truncat  166.0    2.0     500.0
3             3 2020-04-01  T 100 truncat  166.0    2.0     500.0
4             4 2020-04-01  T 100 truncat  166.0    2.0     500.0
..          ...        ...            ...    ...    ...       ...
373         373 2020-04-01        mid cap    NaN    NaN       NaN
374         374 2020-04-01        mid cap    NaN    NaN       NaN
375         375 2020-04-01        mid cap    NaN    NaN       NaN
376         376 2020-04-01        mid cap    NaN    NaN       NaN
377         377 2020-04-01        mid cap    NaN    NaN       NaN

     Current value     NAV  Initial Investment    Value
0            348.0   1.000               348.0   401.76
1            475.0     NaN               475.0   476.00
2           1911.0     NaN              1911.0  1411.00
3           1911.0     NaN              1911.0  1411.00
4            501.0  34.545               501.0   501.00
..             ...     ...                 ...      ...
373            0.0     NaN                 0.0     1.00
374            0.0     NaN                 NaN     0.00
375            0.0     NaN                 NaN     0.00
376            0.0     NaN                 NaN     0.00
377            0.0     NaN                 NaN     0.00

[378 rows x 10 columns]