trying out https://www.youtube.com/watch?v=OB_ixIlQbWI&list=LLNzsZNOL8ahph4IIYK2c9Pg&index=4&t=0s 
or Map two excel worksheets using Python - Five Minute Python Automation Scripts Derrick Sherrill

In [1]:
import pandas as pd

Assign a variable name to your excel file. Open Document Spreadsheets can't be opened.

In [2]:
excel1 = 'worksheet1.xlsx'

In [3]:
print(excel1)

worksheet1.xlsx

#rows1 = rows(excel1)

 #help(pd.Series.loc)

In [4]:
excel2 = 'worksheet2.xlsx'

In [5]:
excel2

'worksheet2.xlsx'

In [6]:
pip install xlrd

Requirement already satisfied: xlrd in e:\users\sr\anaconda3\lib\site-packages (1.2.0)
Note: you may need to restart the kernel to use updated packages.

In [7]:
df1 = pd.read_excel(excel1)

In [8]:
print(df1)

        Date           Fund Name   No.    Units  Invested
0 2020-04-01       T 100 truncat   166   2.0000       500
1 2020-04-02     Gold  Truncated   166      NaN       500
2 2020-04-03      N 50 Truncated   166      NaN      1000
3 2020-04-04              H N 50  1668      NaN      1500
4 2020-04-05       H Gold growth  1668  14.5209       501
5 2020-04-05       H Credit Risk  1668      NaN      1500
6 2020-06-01  H Top 100 dividend  1668  29.9880       500

In [9]:
df2 = pd.read_excel(excel2)
print(df2)

        Date  Current value     NAV  Initial Investment    Value
0 2020-04-01            348   1.000                 348   401.76
1 2020-04-02            475     NaN                 475   476.00
2 2020-04-03           1911     NaN                1911  1411.00
3 2020-04-04           1911     NaN                1911  1411.00
4 2020-04-05            501  34.545                 501   501.00
5 2020-04-05           1911     NaN                1911  1411.00
6 2020-06-01            510  16.673                 510   510.00

In [10]:
merge = pd.merge(df1,df2,on = "Date")
print(merge)

        Date           Fund Name   No.    Units  Invested  Current value  \
0 2020-04-01       T 100 truncat   166   2.0000       500            348
1 2020-04-02     Gold  Truncated   166      NaN       500            475
2 2020-04-03      N 50 Truncated   166      NaN      1000           1911
3 2020-04-04              H N 50  1668      NaN      1500           1911
4 2020-04-05       H Gold growth  1668  14.5209       501            501
5 2020-04-05       H Gold growth  1668  14.5209       501           1911
6 2020-04-05       H Credit Risk  1668      NaN      1500            501
7 2020-04-05       H Credit Risk  1668      NaN      1500           1911
8 2020-06-01  H Top 100 dividend  1668  29.9880       500            510

      NAV  Initial Investment    Value
0   1.000                 348   401.76
1     NaN                 475   476.00
2     NaN                1911  1411.00
3     NaN                1911  1411.00
4  34.545                 501   501.00
5     NaN                1911  1411.00
6  34.545                 501   501.00
7     NaN                1911  1411.00
8  16.673                 510   510.00

In [11]:
merge.to_excel("output.xlsx")
output_Sheet = "output.xlsx"
print(output_Sheet)

output.xlsx

In [12]:
pip install openpyxl

Requirement already satisfied: openpyxl in e:\users\sr\anaconda3\lib\site-packages (3.0.3)
Requirement already satisfied: jdcal in e:\users\sr\anaconda3\lib\site-packages (from openpyxl) (1.4.1)
Requirement already satisfied: et-xmlfile in e:\users\sr\anaconda3\lib\site-packages (from openpyxl) (1.0.1)
Note: you may need to restart the kernel to use updated packages.

In [13]:
df_Output = pd.read_excel(output_Sheet)
print(df_Output)

   Unnamed: 0       Date           Fund Name   No.    Units  Invested  \
0           0 2020-04-01       T 100 truncat   166   2.0000       500
1           1 2020-04-02     Gold  Truncated   166      NaN       500
2           2 2020-04-03      N 50 Truncated   166      NaN      1000
3           3 2020-04-04              H N 50  1668      NaN      1500
4           4 2020-04-05       H Gold growth  1668  14.5209       501
5           5 2020-04-05       H Gold growth  1668  14.5209       501
6           6 2020-04-05       H Credit Risk  1668      NaN      1500
7           7 2020-04-05       H Credit Risk  1668      NaN      1500
8           8 2020-06-01  H Top 100 dividend  1668  29.9880       500

   Current value     NAV  Initial Investment    Value
0            348   1.000                 348   401.76
1            475     NaN                 475   476.00
2           1911     NaN                1911  1411.00
3           1911     NaN                1911  1411.00
4            501  34.545                 501   501.00
5           1911     NaN                1911  1411.00
6            501  34.545                 501   501.00
7           1911     NaN                1911  1411.00
8            510  16.673                 510   510.00