In [1]:
#Getting Stock Price Data - Python Programming for Finance p.1
#https://pythonprogramming.net/getting-stock-prices-python-programming-for-finance/

SyntaxError: invalid syntax (<ipython-input-1-167bbc00a261>, line 2)

In [18]:
import datetime as dt
import matplotlib.pyplot as plt
from matplotlib import style
import pandas as pd
from pandas_datareader import data

In [16]:
style.use('ggplot')
start = dt.datetime(2015,1,1)
end = dt.datetime.now()
print(start)
print(end)

2015-01-01 00:00:00
2020-04-13 10:02:20.785945

In [17]:
df = web.Datareader("TSLA",'MorningStar', start, end)

AttributeError: module 'pandas_datareader' has no attribute 'Datareader'

In [2]:
import quandl as quandl

In [3]:
data = quandl.get("AMFI/147006")

In [4]:
print(data)

            Net Asset Value Repurchase Price Sale Price
Date
2019-03-27        1000.1627             None       None
2019-03-28        1000.3256             None       None
2019-03-29        1000.5031             None       None
2019-03-30        1000.6825             None       None
2019-03-31        1000.8613             None       None
...                     ...              ...        ...
2020-04-07        1001.0366             None       None
2020-04-08        1001.0962             None       None
2020-04-09        1001.1637             None       None
2020-04-10        1001.2321             None       None
2020-04-12        1001.3689             None       None

[285 rows x 3 columns]

In [8]:
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [11]:
data.head()

            Net Asset Value Repurchase Price Sale Price
Date
2019-03-27        1000.1627             None       None
2019-03-28        1000.3256             None       None
2019-03-29        1000.5031             None       None
2019-03-30        1000.6825             None       None
2019-03-31        1000.8613             None       None

In [12]:
data['Repurchase Price']

Date
2019-03-27    None
2019-03-28    None
2019-03-29    None
2019-03-30    None
2019-03-31    None
              ...
2020-04-07    None
2020-04-08    None
2020-04-09    None
2020-04-10    None
2020-04-12    None
Name: Repurchase Price, Length: 285, dtype: object

In [8]:
data.head()

            Net Asset Value Repurchase Price Sale Price
Date
2019-03-27        1000.1627             None       None
2019-03-28        1000.3256             None       None
2019-03-29        1000.5031             None       None
2019-03-30        1000.6825             None       None
2019-03-31        1000.8613             None       None

KeyError: '[0 1] not found in axis'