trying out https://www.youtube.com/watch?v=OB_ixIlQbWI&list=LLNzsZNOL8ahph4IIYK2c9Pg&index=4&t=0s 
or Map two excel worksheets using Python - Five Minute Python Automation Scripts Derrick Sherrill

In [1]:
import pandas as pd

In [2]:
excel1 = 'worksheet1.xlsx'

In [3]:
print(excel1)

worksheet1.xlsx

#rows1 = rows(excel1)

 #help(pd.Series.loc)

In [4]:
excel2 = 'worksheet2.xlsx'

In [5]:
excel2

'worksheet2.xlsx'

In [16]:
excel3 = 'worksheetodf.xlsx'
print(excel3)

worksheetodf.xlsx

In [7]:
pip install xlrd

Requirement already satisfied: xlrd in c:\users\sr\anaconda3\lib\site-packages (1.2.0)
Note: you may need to restart the kernel to use updated packages.

In [8]:
df1 = pd.read_excel(excel1)

In [13]:
print(df1)

         Date                       Fund Name           No.     Gain  Invested
0  2020-04-01          Top 100 HDFC truncated     h16646908   2.0000     500.0
1  2020-04-01             Gold HDMF Truncated     h16646908      NaN     500.0
2  2020-04-01         HDMF Nifty 50 Truncated     h16646908      NaN    1000.0
3  2020-04-01                   HDMF Nifty 50     h16681096      NaN    1500.0
4  2020-04-01                HDMF Gold growth  h16681096/79  14.5209     501.0
5  2020-04-01                HDMF Credit Risk     h16681096      NaN    1500.0
6  2020-04-01           HDMF Top 100 dividend  h16681096/79  29.9880     500.0
7  2020-04-01  Bank Nifty Index Motilal Oswal   91014981246      NaN     500.0
8  2020-04-01        NASDAQ 100 Motilal Oswal   91014981246   0.0000     501.0
9  2020-04-01       Mid Cap 150 Motilal Oswal   91014981246      NaN     502.0
10 2020-04-01                  Healthcare DSP      70020887      NaN     500.0
11 2020-04-01                     DSP Equity       70020887      NaN     501.0
12 2020-04-01          Banking & PSU Debt DSP      70020887      NaN     502.0
13 2020-04-01       Franklin US opportunities      22401246      NaN     501.0
14 2020-04-01              SBI focused equity      23748883      NaN     500.0
15 2020-04-01       SBI banking and financial      23748883      NaN       NaN
16 2020-04-01                        SBI Gold      23748883      NaN       NaN
17 2020-04-01               Large and mid cap           NaN      NaN     500.0
18 2020-04-01                     multi asset           NaN      NaN     500.0
19 2020-04-01                       small cap           NaN      NaN       NaN
20 2020-04-01                         mid cap           NaN      NaN       NaN

In [12]:
df2 = pd.read_excel(excel2)
print(df2)

         Date  Current value     NAV  Initial Investment    Value
0  2020-04-01          348.0   1.000               348.0   401.76
1  2020-04-01          475.0     NaN               475.0   476.00
2  2020-04-01         1911.0     NaN              1911.0  1411.00
3  2020-04-01         1911.0     NaN              1911.0  1411.00
4  2020-04-01          501.0  34.545               501.0   501.00
5  2020-04-01         1911.0     NaN              1911.0  1411.00
6  2020-04-01          510.0  16.673               510.0   510.00
7  2020-04-02          500.0     NaN               500.0   501.00
8  2020-04-02          501.0  45.562                 NaN   502.00
9  2020-04-02          510.0  67.350                 NaN   511.00
10 2020-04-01          458.0     NaN               458.0   459.00
11 2020-04-01          459.0     NaN               459.0   460.00
12 2020-04-01          499.0     NaN               499.0   500.00
13 2020-04-01          459.0     NaN               459.0   460.00
14 2020-04-01            NaN     NaN                 0.0     1.00
15 2020-04-01            0.0     NaN                 0.0     1.00
16 2020-04-01            0.0     NaN                 0.0     1.00
17 2020-04-01            0.0     NaN                 NaN     0.00
18 2020-04-01            0.0     NaN                 NaN     0.00
19 2020-04-01            0.0     NaN                 NaN     0.00
20 2020-04-01            0.0     NaN                 NaN     0.00

In [17]:
dforiginal = pd.read_excel(excel3)
print(dforiginal)

         Date  Unnamed: 1   Units  Unnamed: 3  Unnamed: 4  \
0  2020-04-01       348.0   1.000       348.0      -98.24
1  2020-04-01       475.0     NaN       475.0      -24.00
2  2020-04-01      1911.0     NaN      1911.0      411.00
3  2020-04-01      1911.0     NaN      1911.0      -89.00
4  2020-04-01       501.0  34.545       501.0        0.00
5  2020-04-01      1911.0     NaN      1911.0      -89.00
6  2020-04-01       510.0  16.673       510.0       10.00
7  2020-04-02       500.0     NaN       500.0        1.00
8  2020-04-02       501.0  45.562         NaN        1.00
9  2020-04-02       510.0  67.350         NaN        9.00
10 2020-03-17       458.0     NaN       458.0      -41.00
11 2020-03-17       459.0     NaN       459.0      -41.00
12 2020-03-17       499.0     NaN       499.0       -2.00
13 2020-03-17       459.0     NaN       459.0      -41.00
14 2020-03-21         NaN     NaN         0.0     -499.00
15 2020-04-04         0.0     NaN         0.0        1.00
16 2020-04-07         0.0     NaN         0.0        1.00
17 2020-02-28         0.0     NaN         NaN        0.00
18 2020-02-28         0.0     NaN         NaN        0.00
19 2020-02-28         0.0     NaN         NaN        0.00
20 2020-02-28         0.0     NaN         NaN        0.00

                         Fund Name           No. Unnamed: 7      NAV  \
0           Top 100 HDFC truncated     h16646908 2020-02-28   2.0000
1              Gold HDMF Truncated     h16646908 2020-03-13      NaN
2          HDMF Nifty 50 Truncated     h16646908 2020-03-16      NaN
3                    HDMF Nifty 50     h16681096 2020-03-16      NaN
4                 HDMF Gold growth  h16681096/79 2020-04-01  14.5209
5                 HDMF Credit Risk     h16681096 2020-03-30      NaN
6            HDMF Top 100 dividend  h16681096/79 2020-03-31  29.9880
7   Bank Nifty Index Motilal Oswal   91014981246 2020-03-18      NaN
8         NASDAQ 100 Motilal Oswal   91014981246 2020-03-23   0.0000
9        Mid Cap 150 Motilal Oswal   91014981246 2020-03-23      NaN
10                  Healthcare DSP      70020887 2020-03-10      NaN
11                     DSP Equity       70020887 2020-03-13      NaN
12          Banking & PSU Debt DSP      70020887 2020-03-13      NaN
13       Franklin US opportunities      22401246 2020-03-13      NaN
14              SBI focused equity      23748883 2020-03-21      NaN
15       SBI banking and financial      23748883 2020-04-04      NaN
16                        SBI Gold      23748883 2020-04-07      NaN
17               Large and mid cap           NaN 2020-02-28      NaN
18                     multi asset           NaN 2020-02-28      NaN
19                       small cap           NaN 2020-02-28      NaN
20                         mid cap           NaN 2020-02-28      NaN

    Unnamed: 9 NAV*Units  Unnamed: 11 Nominee  Unnamed: 13  Unnamed: 14
0        500.0         2          NaN    Mini          500        348.0
1        500.0         0          NaN    Mini          500        475.0
2       1000.0         0          NaN    Mini         1000       1911.0
3       1500.0         0          NaN    Mini         1500       1911.0
4        501.0   501.624          NaN    Mini          501        501.0
5       1500.0         0          NaN    Mini         1500       1911.0
6        500.0    499.99          NaN    Mini          500        510.0
7        500.0         0          NaN    Mini          500        500.0
8        501.0         0          NaN    Mini          501          0.0
9        502.0         0          NaN    Mini          502          0.0
10       500.0         0          NaN    Mini          500        458.0
11       501.0         0          NaN    Mini          501        459.0
12       502.0         0          NaN    Mini          502        499.0
13       501.0  00:00:00          NaN    Mini          501        459.0
14       500.0         0          NaN    Mini          500          0.0
15         NaN         0          NaN    Mini            0          0.0
16         NaN         0          NaN    Mini            0          0.0
17       500.0       NaN          NaN     NaN            0          NaN
18       500.0       NaN          NaN     NaN            0          NaN
19         NaN       NaN          NaN     NaN            0          NaN
20         NaN       NaN          NaN     NaN            0          NaN